<?php
if (isset($item)) {
    $customInteger = $item->jsonSerialize()['module:customInteger'];
    if ($customInteger == 0) $customInteger = ""; 
}


// setting du titre
$title_setting = $this->setting("custom_integer_setting");
if(!$title_setting) $title_setting = "module:customInteger";

?>

<div class="resource-values field">
    <div class="field-meta">
        <div class="field-label"><?= $title_setting ?></div>
        <a href="#" class="collapse" aria-label="Collapse"></a>
        <div class="collapsible">
            <div class="field-description">description.</div>
            <div class="field-term" title="Property term for development use">terme</div>
        </div>
    </div>
    <div class="inputs">
        <div>
            <input type="text" name="module:customInteger" id="module:customInteger" class="mapping-marker-popup-label" size="30" value="<?php echo $this->escapeHtml($customInteger); ?>">
        </div>
    </div>
</div>