<?php

$customInteger = $item->jsonSerialize()['module:customInteger'];
// s'il n'y a pas de CustomInteger, on n'affiche pas la propriété
if (!$customInteger) return;

// setting du titre
$title_setting = $this->setting("custom_integer_setting");
if(!$title_setting) $title_setting = "module:customInteger";

?>
<div class="property">
    <h4><?= $title_setting ?></h4>
    <div class="values">
        <div class="value" lang=""><?php echo $this->escapeHtml($customInteger); ?></div>
    </div>
</div>

<?php 
$response = $this->api()->search('custom_integer', ['item_id' => $item->id()]);
// $response = $this->api()->search('items', ['module:customInteger' => 3]);

foreach ($response->getContent() as $integer) {
	// print_r($integer->custom_integer());
	// print_r($integer->title());
    
    // $jsonLd['o-module-mapping:mapping'] = $mapping->getReference();
}
?>